@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Formula1 Display', 'Titillium Web';
  src: url('../public/fonts/Formula1-Regular_web_0.ttf');
}

:root {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.custom-dropdown {
  min-width: 12rem;
}
